{% extends "monitor_admin/base.html" %} {% block "content" %}
<div class="row">
    <div class="col-md-9">
        <div class="panel panel-info">
            <div class="panel-heading">
                <h3 class="panel-title">My Project</h3>
            </div>
            <div class="panel-body text-center">
                {% if not object_list %}
                    <strong>You don't have any projects.</strong>
                    <hr />
                    <a type="button" class="btn btn-success" href="{% url 'project-create' %}">
                        <span class="glyphicon glyphicon-plus-sign"></span>
                        Create Project
                    </a>
                {% endif %}
            </div>

            {% if object_list %}
            <!-- Table -->
            <table class="table table-striped table-hover">
                <thead>
                    <tr>
                        <th>Project</th>
                        <th>Number of Requests</th>
                        <th class="text-center">Actions</th>
                    </tr>
                </thead>
                <tbody>
                    {% for project in object_list %}
                    <tr>
                        <td><strong>{{project.name}}</strong></td>
                        <td>{{project.requests.all|length}}</td>
                        <td class="text-center">
                            <div class="btn-group btn-group-sm" role="group" aria-label="...">
                                <a href="{% url 'project-detail' project.id %}" type="button" class="btn btn-success">View</a>
                                <a href="{% url 'project-update' project.id %}" type="button" class="btn btn-info">Edit</a>
                                <a href="{% url 'project-delete' project.id %}" type="button" class="btn btn-danger">Delete</a>
                            </div>
                        </td>
                    </tr>
                    {% endfor %}
                </tbody>
            </table>
            {% endif %}
        </div>
    </div>
    <div class="col-md-3">

        <div class="panel panel-info">
            <div class="panel-heading">
                <h3 class="panel-title">My Options</h3>
            </div>
            <div class="panel-body text-center">
                <a type="button" class="btn btn-success" href="{% url 'project-create' %}">
                    <span class="glyphicon glyphicon-plus-sign"></span>
                    Create Project
                </a>
            </div>
        </div>
        <div class="panel panel-info">
            <div class="panel-heading">
                <h3 class="panel-title">How Does it Work?</h3>
            </div>
            <div class="panel-body text-justify">
                <p>
                Each of your requests get a tracer function which 
                monitors each request. Caduceus determines if the code
                that it encounters belongs to your dependencies or if 
                it belongs to your application code. If it belongs to 
                your application code, Caduceus collects information it
                needs.
                </p>
                <p>
                The information that Caduceus collects is then sent to 
                this site, and it is presented to you in all it's glory!
                </p>
            </div>
        </div>
    </div>
</div>
{% endblock %}